Flask==3.0.0
flask-cors==4.0.0
numpy==1.25.2 # Or a version compatible with your TF and Python
joblib==1.3.2
tensorflow==2.13.0 # Make sure this matches your model training env
scikit-learn==1.3.2
requests==2.31.0
python-dotenv==1.0.0
